body {
  background-color: #00cfc9;
  font-family: 'Della Respira';
}

.hero {
  padding: 0 4%;
  background-color: #b2f7f5;
}

.hero p {
  /* color: #4d5750; */
  font-size: 30px;
  display: inline;
  padding-left: 50px;
}

.app-title {
  font-size: 3rem;
  /* background-color: #ccdad1; */
  /* color: #0c7a2a; */
  padding: 10px;
  display: inline-block;
  /* border-radius: 3rem;
   box-shadow: 6px 5px; */
  text-align: center;
}

.brand-image {
  width: 82px;
  height: 112px;
}
.font-title {
  font-family: 'Syncopate';
}

.and {
  font-family: 'Caveat';
}

.liquor-selection {
  margin-bottom: 14px;
  margin-top: 16px;
  background-color: #b2f7f5;
}

.search-space {
  height: 2.75rem;
  width: 90%;
  background-color: #b2f7f5;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 14px;
  margin-top: 16px;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  transition-property: box-shadow, border, -webkit-box-shadow;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}
::placeholder {
  color: rgb(82, 81, 81);
 }